.home {
  .info-section {
    width: 35%;
  }

  .content-area {
    margin-left: 35%;
    background: $color3;
    width: 65%;
    height: 100%;

    .img-container {
      width: 30%;
      display: inline-block;
      position: relative;
      height: 100%;

      .user-img {
        position: absolute;
        top: 56px;
        left: -250px;
        width: 500px;
        height: calc(100% - 112px);
        background: url("../img/jeffrey.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 0px 0px 74px 17px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 0px 74px 17px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 0px 74px 17px rgba(0, 0, 0, 0.34);
      }
    }
    .profile-section {
      vertical-align: top;
      display: inline-block;
      // width: 70%;
      max-width: 500px;
      padding: 20% 0 0;

      .profile {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1rem;
          span {
            color: $color1;
          }
        }

        h5 {
          font-size: 1.1rem;
          margin: 0 0 2rem;
        }
        p {
          color: $color5;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem;
        }
      }
    }
  }
}

// Phone
@media (min-width: 0) and (max-width: 767px) {
  .home {
    .menu-icon {
      top: -3px;
      color: white;
      right: 20px;
      .fa {
        color: white;
      }
    }
    .info-section {
      // display: none;
      position: static;
      padding: 10px 20px;
      .logo {
        height: 50px;
        width: 70px;
        font-size: 0.7rem;
      }
      .info-box {
        display: none;
      }
    }
    .content-area {
      margin-left: 0;
      width: 100%;
      position: relative;
      overflow: auto;

      .profile-section {
        position: absolute;
        width: 100%;
        float: right;
        padding: 20% 20px 0;
        top: 0;
        max-width: 400px;

        .ghost-btn,
        .primary-btn,
        .contact-btn {
          margin-bottom: 20px;
        }
      }

      .img-container {
        padding: 56px 20px 0;
        .user-img {
          position: static;
          width: 100%;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 991px) {
  .home {
    .content-area {
      .profile-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;
        .ghost-btn,
        .primary-btn,
        .contact-btn {
          margin-bottom: 20px;
        }
      }
      .img-container {
        padding: 56px 20px 0;
        .user-img {
          position: static;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home {
    .content-area {
      .profile-section {
        width: 70%;
        padding: 20% 60px 0;
        max-width: 800px;
        .ghost-btn,
        .primary-btn,
        .contact-btn {
          margin-bottom: 20px;
        }
      }
      .img-container {
        padding: 56px 20px 0;
        float: left;

        .user-img {
          position: static;
          width: 100%;
        }
      }
    }
  }
}

// extra big
@media (min-width: 1200px) {
  .home {
    .content-area {
      .profile-section {
        width: 70%;
        max-width: 800px;
        padding: 20% 60px 0;
        .ghost-btn,
        .primary-btn,
        .contact-btn {
          margin-bottom: 20px;
        }
      }
      .img-container {
        padding: 56px 20px 0;
        float: left;

        .user-img {
          // position: static;
          // width: 100%;
        }
      }
    }
  }
}
